.telegramMessage {
    position: relative;
    border-radius: 6px;
    width: max-content;
    margin: 1px;
    padding-left: 4px;
    padding-bottom: 10px;
}
.telegramMessageText {
    color: white;
}

.telegramMessageSentAt {
    position: absolute;
    right: 8px;
    top: 44px;
}
