.blogMessage {
    background-color: #24272f;
    border-radius: 12px;
    width: max-content;
    border: 4px solid #484e60;
    max-width: 720px;
    margin: 5px;
    padding: 0 16px;
}
.blogMessageMainInformation {
    color: white
}

.blogMessageTitle {
    color: white
}