.unbuyable-book-preview {
    width: 220px;
    height: 450px;
}

.unbuyable-clickable-preview {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.unbuyable-book-preview:hover .unbuyable-clickable-preview {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px #00000026;
    cursor: pointer;
}

.unbuyable-title {
    margin-top: 20px;
}

.unbuyable-author, .unbuyable-title, .unbuyable-price {
    display: flex;
    justify-content: left;
}

.unbuyable-title span {
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unbuyable-author span {
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unbuyable-price span {
    color: #DB5408;
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}