.add-to-cart-button {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    background-color: #DB5408;
    border: none;
    width: 100%;
    padding: 8px 22px;
    margin-top: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px #1a1a1a1a;
    transition: all 0.2s ease;
}

.add-to-cart-button:hover {
    background-color: #e25f1b;
    color: #2e2e2e;
    box-shadow: 0 6px 10px #26262626;
}