.books-preview {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 45px;
    margin: 50px 0;
}

.sign-up {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #00000080;
}

.sign-up span {
    margin: 0 20px 0 70px;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #DB5408;
}

.sign-up button {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    background-color: #DB5408;
    width: 500px;
    border-radius: 23px;
    padding: 8px 0;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px #1a1a1a1a;
    transition: all 0.2s ease;
}

.sign-up button:hover {
    background-color: #e25f1b;
    box-shadow: 0 6px 10px #26262626;
    transform: translateY(-2px);
}