.categories {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    margin-top: 65px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.category {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin: 0 30px;
}

.category input {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #999;
    border-radius: 5px;
    margin-right: 8px;
    position: relative;
    transition: all 0.2s;
}

.category input:checked {
    background-color: #DB5408;
    border-color: #B44106;
}

.category input:checked::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 5px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.books-preview {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 45px;
    margin: 50px 0;
}