.categories {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    margin-top: 65px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.category {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin: 0 30px;
}

.category input {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #999;
    border-radius: 5px;
    margin-right: 8px;
    position: relative;
    transition: all 0.2s;
}

.category input:checked {
    background-color: #DB5408;
    border-color: #B44106;
}

.category input:checked::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 5px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.books-preview {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 45px;
    margin: 50px 0;
}

.sign-up {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #00000080;
}

.sign-up span {
    margin: 0 20px 0 70px;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #DB5408;
}

.sign-up button {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    background-color: #DB5408;
    width: 500px;
    border-radius: 23px;
    padding: 8px 0;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px #1a1a1a1a;
    transition: all 0.2s ease;
}

.sign-up button:hover {
    background-color: #e25f1b;
    box-shadow: 0 6px 10px #26262626;
    transform: translateY(-2px);
}