.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.post {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 384px;
  height: 580px;
  padding: 24px;
  box-shadow: 0 6px 13px #00000020;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.post:hover {
  transform: scale(1.01);
  box-shadow: 0 16px 32px #00000030;
}

.post img {
  width: 336px;
  height: 240px;
}

.post .post-info .theme {
  color: #6941c6;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 32px;
}

.post .post-info .post-title {
  font-size: 17px;
  font-weight: 600;
  display: flex;
  gap: 30px;
  margin-bottom: 12px;
}

.post .post-info .post-title a {
  margin-left: auto;
}

.post .post-info .post-title img {
  width: 10px;
  height: 10px;
}

.post .post-info .post-description {
  color: #667085;
  font-size: 16px;
  font-weight: 400;
}

.post .post-author {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post .post-author .post-author-info {
  flex-direction: column;
  margin-left: 12px;
}

.post .post-author img {
  width: 40px;
  height: 40px;
}

.post .post-author p {
  font-size: 14px;
  font-weight: 500;
  color: #101828;
}

.post .post-author span {
  font-size: 14px;
  font-weight: 400;
  color: #667085;
}
