*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #f9f5ff;
  background-image: url("assets/UI/background-lines.svg");
  background-repeat: no-repeat;
  background-position: center 338px;
}
