.home-search {
    background: linear-gradient(to right, #FFC581 68.5%, transparent 68.5%);
    padding: 0 60px;
    height: 800px;
}

.home-search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-title {
    font-family: "Inter", sans-serif;
    margin: 127px 0 30px 0;
    width: 600px;
}

.home-title h2 {
    font-weight: 700;
    font-size: 58px;
    margin-bottom: 10px;
}

.home-title h3 {
    color: #474747;
    font-weight: 400;
    font-size: 20px;
}

.home-search-image {
    margin-top: 50px;
}

.home-search-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #CFCBCBB2;
    border-radius: 8px;
    width: fit-content;
}

.home-search-magnifying-glass {
    margin: 0 10px;
}

.home-search-div form {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 65px;
}

.home-search-div input {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    outline: none;
}

.search-input {
    border: none;
    background: transparent;
    font-size: 18px;
}

.search-button {
    background-color: #DB5408;
    border: none;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    padding: 15px 20px;
    font-size: 24px;
}

.search-button:hover {
    cursor: pointer;
}

.popular-books {
    padding: 40px 0 65px 0;
}

.popular-books-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.popular-books-title {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 80px;
}

.reading-journey {
    background-color: #FFC581;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0 150px 0;
}

.reading-journey h2 {
    margin-bottom: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: #000000;
}

.reading-journey h3 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: #00000099;
    margin-bottom: 40px;
}

.reading-journey button {
    background-color: #DB5408;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 40px;
    border: none;
    border-radius: 24px;
    padding: 10px 80px;
    cursor: pointer;
    box-shadow: 0 4px 6px #1a1a1a1a;
    transition: all 0.2s ease;
}

.reading-journey button:hover {
    background-color: #e25f1b;
    box-shadow: 0 6px 10px #26262626;
    transform: translateY(-2px);
}

.home-feedback {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-feedback-title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 60px;
}