.sign-in-card {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 448px;
  height: 100%;
  padding: 20px;
  font-family: "Manrope", sans-serif;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  box-shadow:
    0 20px 25px -5px #0000001a,
    0 10px 10px -5px #0000000a;
}

.sign-in-card .sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-in-card .sign-in-form label {
  margin: 15px 0 5px 0;
  font-weight: bold;
}

.sign-in-card .sign-in-form input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f3f3f5;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}

.sign-in-card input[type="submit"] {
  background-color: #db5408;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  padding: 6px 170px;
  cursor: pointer;
  margin: 20px 0;
}

.no-account {
  color: #999999;
}

.no-account a {
  color: #cc4903cd;
  text-decoration: underline;
}
